@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* General */

body {
  font-family: "Epilogue", sans-serif;
  color: black;
  font-size: 24px;
  overflow-x: hidden;
  background-color: white;
}

.cursor {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 100%;
  position: fixed;
  pointer-events: none;
  transition: all .1s ease-out;
  transform: translate(-50%, -50%);
  z-index: 100;
  mix-blend-mode: difference;
}

.wrapper {
  padding-left: 5vw;
  padding-right: 5vw;
}

/* Typography */

h1 {
  font-size: calc(48px + 2vw);
  line-height: 1.2;
  cursor: default;
}

p {
  line-height: 1.5;
  font-weight: 300;
  max-width: 60ch;
}

.bold-text {
  font-weight: bold;
}

a:link,
a:visited {
  color: black;
  padding-bottom: .2em;
  padding-top: .2em;
  border-bottom: 1px solid black;
  background: linear-gradient(to top, black 50%, transparent 50%);
  background-position: top left;
  background-size: 100% 200%;
  text-decoration: none;
  transition: .2s ease-in-out;
}

a:hover,
a:active {
  background-position: bottom left;
  color: white;
  border-bottom: 0;
  transition: .2s;
  cursor: pointer;
}

a.angled-arrow {
  border-bottom: 0;
}

a.angled-arrow:hover {
  background: none;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 0;
}

.sticker-text {
  font-size: .6em;
  text-transform: uppercase;
  text-align: right;
  margin-right: 100px;
}

.sticker-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.sticker-box p {
  display: flex;
  align-items: center;
}

.sticker-box p>img {
  max-width: 20px;
  margin-left: 5px;
}

.stickers {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.sticker {
  cursor: grab;
  max-width: 200px;
  z-index: 99;
  position: absolute;
  transition: .2s;
  margin-top: 50px;
}

.sticker:hover {
  max-width: 210px;
}

.peace {
  width: 20px;
  padding-top: 40px;
}

/* Footer */

footer {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: .8em;
}

.footer-left {
  width: 1em;
}

.footer-right > a:link,
.footer-right > a:visited {
  border-bottom: 0;
  color: black;
  padding-bottom: 0;
  padding-top: 0;
  background: none;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.footer-right img {
  width: 25px;
}

/* Intro */

.main-intro, .intro-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.intro-section {
  width: 930px;
}

.intro-text {
  font-weight: 400;
}

.about-me {
  margin-top: 20px;
}

.spotify-wrapper {
  display: flex;
  font-size: 16px;
  margin-top: 50px;
  padding: 12px;
  border: 1px solid black;
  width: fit-content;
  box-shadow: 5px 5px 0px black;
}

.spotify-wrapper p {
  max-width: 100%;
}

.spotify-wrapper img {
  margin-right: 10px;
}

.song-title, .artist {
  font-style: oblique;
}

.listening-status-active {
  position: relative;
  animation: wiggle 1s infinite;
}

@keyframes wiggle {
  0% { transform: rotate(-10deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(-10deg);}
}

.large-link {
  margin-left: 5vw;
  font-size: calc(18px + 2vw);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.large-link:hover {
  background-color: none;
  color: inherit;
}

.down-arrow img,
.back-arrow img {
  position: relative;
  width: 40px;
}

.down-arrow img {
  animation: moveUpDown 1s infinite;
}

@keyframes moveUpDown {
  0% {
    top: 0px;
  }
  50% {
    top: 6px;
  }
  100% {
    top: 0px;
  }
}

.contact-link {
  margin-right: .3em;
}

/*.split {
  transition: .2s;
}

.split:hover {
  padding-left: .08em;
  padding-right: .08em;
  font-style: oblique;
}*/

/* Projects */

.slick-next, .slick-prev {
  z-index: 1;
  transform: scale(2);
  transition: .2s;
}

.slick-prev {
  left: 30px;
}

.slick-prev:hover {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slick-next:hover {
  right: 10px;
}

.slick-prev:before, .slick-next:before {
  display: none;
}

.project-box {
  overflow: hidden;
}

.project-box img {
  transition: .2s ease-in-out;
  object-fit: cover;
  display: block;
}

.project-box img:hover {
  transform: scale(1.05);
}

.intro-section 
.back-arrow {
  display: contents;
}

.back-arrow img {
  left: 0;
  transition: .2s;
}

.back-arrow img:hover {
  left: -10px;
}

.project-title {
  margin-top: 40px;
  margin-bottom: 20px;
}

.project-images {
  width: 100%;
}

.two-section {
  margin: 3vw 0 3vw 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3vw;
  overflow: hidden;
}

.two-section img {
  overflow: scroll;
}

/* Media queries */

@media screen and (max-width: 1024px) {
  .main-intro, .intro-section {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .down-arrow img,
  .back-arrow img {
  width: 30px;
}

  .cursor {
    display: none;
  }

  header {
    display: none;
  }

  .intro-section {
    width: 100%;
  }

  .projects-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }

  .main-intro, .intro-section {
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .spotify-wrapper {
    margin-top: 40px;
    font-size: 14px;
  }

  h1 {
    font-size: 48px;
    line-height: 1.3;
  }

  .large-link {
    font-size: 36px;
  }

  /*.split:hover {
    padding-left: 0;
    padding-right: 0;
    font-style: normal;
  }*/

  .slick-prev, .slick-next {
    transform: scale(1.7);
  }

  .slick-prev {
    left: 25px;
  }

  .slick-prev:hover {
    left: 25px;
  }

  .slick-next {
    right: 15px;
  }

  .slick-next:hover {
    right: 15px;
  }

  .two-section {
    grid-template-columns: 1fr;
  }
}
