@import url("https://fonts.googleapis.com/css2?family=Space+Mono");

body {
  font-family: 'Space Mono', monospace;
  color: black;
}

a:link,
a:visited {
  color: black;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  border-bottom: 1px solid black;
  background: linear-gradient(to top, black 50%, transparent 50%);
  background-position: top left;
  background-size: 100% 200%;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

a:hover,
a:active {
  background-position: bottom left;
  color: white;
  border-bottom: 0;
  transition: 0.2s;
  cursor: pointer;
}

.cursor {
  width: 20px;
  height: 20px;
  transform: translate(10px, 10px);
  background-color: black;
  border-radius: 100%;
  position: fixed;
  pointer-events: none;
  transition: all 0.3s ease-out;
  z-index: 100;
}

.wrapper {
  width: 100vw;
  padding-left: 5em;
  padding-right: 5em;
}

h3 {
  padding-bottom: 0.5em;
}

/* Header */

header {
  padding: 1.5em 5em 1.5em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

.logo a {
  border: 0;
  padding: 0;
  background: none;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  text-transform: uppercase;
}

.menu-item:nth-child(1) {
  margin-right: 2em;
}

.hamburger {
  display: none;
}

aside {
  display: none;
}

/* Projects */

.projects-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-box {
  overflow: hidden;
}

.project-box img {
  transition: 0.2s ease-in-out;
  object-fit: cover;
  display: block;
}

.project-box img:hover {
  transform: scale(1.05);
}

/* Sub-pages */

.top-container {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  align-items: center;
  grid-gap: 4em;
}

.top-img {
  height: 100%;
  width: 100%;
}

.top-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bottom-img {
  margin-top: 4em;
  margin-bottom: 4em;
}

.about-me {
  padding-bottom: 2em;
  border-bottom: 1px solid black;
}

.about-me p {
  font-size: 1.8em;
}

.skills {
  padding-top: 2em;
}

/* Media queries */

@media screen and (max-width: 1100px) {
  .projects-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .top-container {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 0;
  }

  .about-me p {
    font-size: 1.4em;
  }

  .top-img {
    margin-top: 4em;
    margin-bottom: 4em;
  }

  .bottom-img {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 1.5em 3em 1.5em 3em;
  }

  aside {
    display: block;
  }

  .menu {
    display: none;
  }

  .hamburger {
    display: block;
    z-index: 20;
  }

  .hamburger img {
    width: 1.6em;
  }

  .projects-wrapper {
    grid-template-columns: 1fr;
  }

  .wrapper {
    padding-left: 3em;
    padding-right: 3em;
  }

  .burger-menu {
    width: 100vw;
    background-color: white;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    text-align: right;
  }

  .menu-item {
    margin-bottom: 1em;
  }

  .menu-item:nth-child(1) {
    margin-right: 0;
  }

  .top-img {
    margin-top: 4em;
    margin-bottom: 2em;
  }

  .bottom-img {
    margin-top: 0;
    margin-bottom: 3em;
  }
}
