@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  font-family: 'Space Mono', monospace;
  color: black;
  font-size: 16px;
}

a:link,
a:visited {
  color: black;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  border-bottom: 1px solid black;
  background: linear-gradient(to top, black 50%, transparent 50%);
  background-position: top left;
  background-size: 100% 200%;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

a:hover,
a:active {
  background-position: bottom left;
  color: white;
  border-bottom: 0;
  transition: 0.2s;
  cursor: pointer;
}

.cursor {
  width: 20px;
  height: 20px;
  transform: translate(10px, 10px);
  background-color: black;
  border-radius: 100%;
  position: fixed;
  pointer-events: none;
  transition: all 0.3s ease-out;
  z-index: 100;
}

.wrapper {
  width: 100vw;
  padding-left: 5em;
  padding-right: 5em;
}

.inner-wrapper {
  padding-left: 10em;
  padding-right: 10em;
}

h1 {
  font-size: 3em;
  line-height: 1.3;
  letter-spacing: -.03em;
  cursor: default;
  margin-bottom: .5em;
}

/* Header */

header {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

.logo a {
  border: 0;
  padding: 0;
  background: none;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu-item {
  text-transform: uppercase;
}

.menu-item:nth-child(2) {
  margin-left: 2em;
  margin-right: 2em;
}

.hamburger {
  display: none;
}

aside {
  display: none;
}

/* Footer */

footer {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: .8em;
}

.footer-left {
  width: 1em;
}

.footer-right a:link, .footer-right a:visited {
  border-bottom: 0;
  font-size: 1.5em;
  color: black;
  opacity: .6;
  padding-bottom: 0;
  padding-top: 0;
  background: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.footer-right a:hover {
  opacity: 1;
}

.footer-right {
  font-size: 1em;
}

/* Intro */
.intro {
  padding-top: 10em;
  padding-bottom: 15em;
}

.intro-text {
  max-width: 16em;
}

.intro-text div span>span, .project-title div span>span {
  transition: .2s;
}

.intro-text div span, .project-title div span {
  transition: .1s;
}

.intro-text div span>span:hover, .project-title div span>span:hover {
  padding-left: .08em;
  padding-right: .08em;
  font-style: oblique;
}

.intro-links ul {
  display: flex;
}

.bullet {
  padding-left: 1em;
  padding-right: 1em;
}

/* Projects grid */

.projects-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.5em;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-box {
  overflow: hidden;
}

.project-box img {
  transition: 0.2s ease-in-out;
  object-fit: cover;
  display: block;
}

.project-box img:hover {
  transform: scale(1.05);
}

.see-more {
  padding-top: 5em;
  padding-bottom: 2.5em;
  text-align: center;
}

/* Project page */

.project-presentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  padding-top: 10em;
  padding-bottom: 7.5em;
}

.project-description p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.project-details {
  display: flex;
  flex-direction: column;
  line-height: 2;
  height: 100%;
  border-left: 1px dotted black;
  padding-left: 3em;
}

.project-images {
  width: 100%;
}

.two-section {
  margin: 2.5em 0 2.5em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  overflow: hidden;
}

.two-section img {
  overflow: scroll;
}

.one-section-wide {
  height: 70vh;
  margin-bottom: 2.5em;
}

.one-section-wide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.long-section {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2.5em;
}

.long-section img {
  width: 100%;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10em;
}

.emoji {
  background-color: #17a1d4;
  padding: 0;
}

.large-emoji {
  position: relative;
  font-size: 6em;
  animation: swimLeft;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.small-emoji {
  position: relative;
  font-size: 3em;
  animation: swimRight;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-iteration-count: ease-in-out;
  transform: scale(-1, 1);
}

@keyframes swimLeft {
  0% {left: 0;}
  25% {left: -200px;}
  50% {transform: scale(-1, 1);}
  50% {left: 200px;}
  75% {transform: scale(1, 1);}
  100% {left: 0;}
}

@keyframes swimRight {
  0% {left:0;}
  25% {left: 200px;}
  25% {transform: scale(1, 1);}
  50% {left: -200px;}
  75% {transform: scale(-1, 1);}
  100% {left: 0;}
}

.creative-chase-logo {
  animation: spin;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/* About page */

.about-intro {
  padding-top: 10em;
  padding-bottom: 7.5em;
}

.about-me p {
  max-width: 65ch;
}

address {
  font-style: normal;
  margin-top: 2em;
}

address h2 {
  padding-bottom: .5em;
}

/* Media queries */

@media screen and (max-width: 1024px) {
  .inner-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .intro {
    padding-top: 5em;
    padding-bottom: 10em;
  }

  .about-intro {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .project-presentation {
    padding-top: 5em;
    padding-bottom: 2.5em;
  }

  .two-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .projects-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .cursor {
    display: none;
  }

}

@media screen and (max-width: 768px) {

  .logo {
    max-width: 7.5em;
  }

  h1 {
    font-size: 2.4em;
  }

  aside {
    display: block;
    position: absolute;
  }

  .menu {
    display: none;
  }

  .hamburger {
    display: block;
    z-index: 20;
  }

  .hamburger div:focus {
    outline: 0 !important;
    box-shadow: none;
  }

  .hamburger img {
    width: 1.6em;
  }

  .burger-menu {
    width: 100vw;
    background-color: white;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    text-align: right;
  }

  .menu-item {
    margin-bottom: 1em;
  }

  .menu-item:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }

  .projects-wrapper {
    grid-template-columns: 1fr;
  }

  .wrapper {
    padding-left: 2em;
    padding-right: 2em;
  }

  .project-presentation {
    grid-template-columns: 1fr;
    grid-template-rows: 2;
  }

  .project-details {
    padding-left: 0;
    border-left: 0;
    padding-top: 2em;
    border-top: 1px dotted black;
  }

  .intro {
    padding-top: 2em;
    padding-bottom: 5em;
  }

  .about-intro {
    padding-top: 2em;
    padding-bottom: 2.5em;
  }

  .project-presentation {
    padding-top: 2em;
    padding-bottom: 1em;
  }
}
